.main{
    width: fit-content;
    text-align: center;
    justify-items: center;
   justify-self: center;
    margin-top: 10vh;
    border:1px solid black;
    padding: 20px;
    align-items: center;
}

button{
   background-color: #048ac8;
   border-radius: 4px;
    color: white;
    padding: 7px 30px;
    border: none;
    /* height: 20px;
    width: 80px; */
    margin: 10px;
}
body{
    text-align: center;
}
input{
    height: 25px;
    width: 200px;
}
ul{
    display: flex;
    flex-direction: column;
}
li{
    border-bottom:1px solid black ;
    color: black;
    font-size: larger;
}